:root{
    --light-grey: #F4F6FA;
    --purple: #A729F5;
    --purple-hover:#c786ef;
    --border-circle:#EDF1F9;
    --color-dark: #313E51;
    --white: #ffffff;
    --color-white: #FFF;
    --grey-span: #626C7F;
    --green-color:#0fa15a;
    --red-color:#EE5454;
    --color-1:#FFF1E9;
    --color-2:#E0FDEF;
    --color-3:#EBF0FF;
    --color-4:#F6E7FF;
    --color-5:#F4F6FA;
    --color-6:#F6E7FF;
}